Repository Automattic/newspack-ios, pull requests merged in 2020-05, with the labels that each got.

#68 Task/housekeeping
  Newspack/Newspack.xcodeproj/project.pbxproj
  Newspack/Newspack/Extensions/NSManagedObject+Helpers.swift
  Newspack/Newspack/Extensions/NSObject+Helpers.swift
  Newspack/Newspack/Folders/FolderManager.swift
  Newspack/Newspack/Models/Account+CoreDataClass.swift
  Newspack/Newspack/Models/AccountCapabilities+CoreDataClass.swift
  Newspack/Newspack/Models/AccountDetails+CoreDataClass.swift
  Newspack/Newspack/Models/Media+CoreDataClass.swift
  Newspack/Newspack/Models/MediaCache+CoreDataClass.swift
  Newspack/Newspack/Models/MediaItem+CoreDataClass.swift
  Newspack/Newspack/Models/MediaQuery+CoreDataClass.swift
  Newspack/Newspack/Models/Page+CoreDataClass.swift
  Newspack/Newspack/Models/Post+CoreDataClass.swift
  Newspack/Newspack/Models/PostItem+CoreDataClass.swift
  Newspack/Newspack/Models/PostQuery+CoreDataClass.swift
  Newspack/Newspack/Models/Revision+CoreDataClass.swift
  Newspack/Newspack/Models/Site+CoreDataClass.swift
  Newspack/Newspack/Models/Site+CoreDataProperties.swift
  Newspack/Newspack/Models/StagedEdits+CoreDataClass.swift
  Newspack/Newspack/Models/StagedMedia+CoreDataClass.swift
  Newspack/Newspack/Models/Status+CoreDataClass.swift
  Newspack/Newspack/Models/StoryAsset+CoreDataClass.swift
  Newspack/Newspack/Models/StoryFolder+CoreDataClass.swift
  Newspack/Newspack/Models/User+CoreDataClass.swift
  Newspack/Newspack/Stores/FolderStore.swift
  Newspack/Newspack/Stores/Protocols/FolderMaker.swift
  Newspack/Newspack/Stores/SiteStore.swift
  Newspack/NewspackTests/Folders/FolderManagerTests.swift
  Newspack/NewspackTests/Stores/SiteStoreTests.swift
  Newspack/NewspackTests/TestData/ModelFactory.swift
Labels: Task

#69 Issues/58 data story folder recon
  Newspack/Newspack/Controllers/FoldersViewController.swift
  Newspack/Newspack/Folders/FolderManager.swift
  Newspack/Newspack/Models/Newspack.xcdatamodeld/Newspack.xcdatamodel/contents
  Newspack/Newspack/Models/StoryFolder+CoreDataProperties.swift
  Newspack/Newspack/Stores/AccountStore.swift
  Newspack/Newspack/Stores/Actions/FolderAction.swift
  Newspack/Newspack/Stores/FolderStore.swift
  Newspack/Newspack/Stores/SiteStore.swift
  Newspack/Newspack/Storyboards/Base.lproj/Main.storyboard
  Newspack/Newspack/System/SessionManager.swift
Labels: Data, Folders

#72 Update pods to support latest Authenticator release (1.16.0-beta.5)
  Newspack/Newspack/Authentication/AuthenticationManager.swift
  Newspack/Newspack/Storyboards/Base.lproj/Main.storyboard
  Podfile
  Podfile.lock
Labels: Authentication

#71 Issues/data fixes and new datasource
  Newspack/Newspack/Controllers/PostListViewController.swift
  Newspack/Newspack/Models/Newspack.xcdatamodeld/Newspack.xcdatamodel/contents
  Newspack/Newspack/Models/Post+CoreDataProperties.swift
  Newspack/Newspack/Models/PostItem+CoreDataProperties.swift
  Newspack/Newspack/Models/Site+CoreDataProperties.swift
  Newspack/Newspack/Stores/EditCoordinator.swift
  Newspack/Newspack/Stores/FolderStore.swift
  Newspack/Newspack/Stores/MediaItemStore.swift
  Newspack/Newspack/Stores/PostItemStore.swift
  Newspack/Newspack/Stores/PostStore.swift
  Newspack/Newspack/System/CoreDataManager.swift
  Newspack/NewspackTests/CoreData/CoreDataManagerTests.swift
  Newspack/NewspackTests/Stores/PostStoreTests.swift
Labels: Data, bug
